workflows/certificados-automaticos.json
{
  "name": "Certificados Automaticos",
  "nodes": [
    {
      "parameters": {
        "content": "## Creación del certificado \n\n**1. Lectura del excel:** Primero lee el excel para saber que alumnos asistieron y no se les envió el certificado, de los cuales carga sus datos.\n\n**2. Copia de la plantilla:** Se crea un archivo temporal para no editar y perder la plantilla original de los certificados.\n\n**3. Se reemplaza en la plantilla temporal:** Se hace uso de un nodo de google slides para reemplazar los valores del archivo temporal por los datos del alumno y del profesor que da la charla.\n",
        "height": 896,
        "width": 960,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -656,
        -208
      ],
      "id": "ab896dc9-4c9e-4080-9344-1585d463369f",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Cargar el archivo PDF\n\n**1. Se exporta en PDF:** Mediante un nodo de Drive se exporta el archivo modificado en formato PDF.\n\n**2. Subir el archivo:** Se carga el PDF final del certificado a una carpeta.\n\n**3. Se elimina la plantilla temporal:** Se elimina la plantilla temporal de google slides que creamos anteriormente.\n\n**4. Se marca el certificado como enviado:** Se marca en el google sheets la casilla de enviado para no volver a emitir otro certificado de la misma persona.\n\n**5. Nodo de espera:** Se esperan 5 segundos antes de crear el siguiente certificado para no saturar la API de google en caso de emitir un mayor volumen de certificados.\n",
        "height": 896,
        "width": 1216,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        368,
        -208
      ],
      "id": "9121cbc2-ed0a-47ad-8cfc-b9ce4bb3c6af",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.presentationId }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf",
              "drawingsToFormat": "image/png",
              "slidesToFormat": "application/pdf"
            }
          },
          "fileName": "=Certificado-{{ $('Leer Lista Certificados').item.json.Actividad }}-{{ $('Leer Lista Certificados').item.json['Fecha Actividad'] }}-{{ $('Leer Lista Certificados').item.json['Nombre Estudiante'] }}"
        }
      },
      "id": "183d14dd-c7db-4df7-bb0f-81c83fc8a649",
      "name": "Exportar PDF",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        496,
        160
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GOOGLE_DRIVE_CREDENTIALS_ID",
          "name": "Google Drive OAuth2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "Lista Certificados"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja Principal"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Enviado": "SI",
            "Email": "={{ $json.Email }}",
            "row_number": 0
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Nombre Estudiante",
              "displayName": "Nombre Estudiante",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Actividad",
              "displayName": "Actividad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Fecha Actividad",
              "displayName": "Fecha Actividad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nombre Instructor",
              "displayName": "Nombre Instructor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Cargo Instructor",
              "displayName": "Cargo Instructor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID Firma ",
              "displayName": "ID Firma ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Asistió?",
              "displayName": "Asistió?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Enviado",
              "displayName": "Enviado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true
            }
          ]
        },
        "options": {}
      },
      "id": "b63b5305-99fc-4fd6-9e1b-12b88a5f348b",
      "name": "Marcar como Enviado",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        944,
        464
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIALS_ID",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "YOUR_TEMPLATE_SLIDE_ID",
          "mode": "list",
          "cachedResultName": "Plantilla de Certificado"
        },
        "name": "=Modelo Certificado {{ $json['Nombre Estudiante'] }}",
        "sameFolder": false,
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "YOUR_DRIVE_FOLDER_ID",
          "mode": "list",
          "cachedResultName": "Certificados Listos"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -288,
        288
      ],
      "id": "9dd7bebb-c2cb-440c-895d-6d8df1d08f70",
      "name": "Duplicar Plantilla de Certificado",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GOOGLE_DRIVE_CREDENTIALS_ID",
          "name": "Google Drive OAuth2"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "replaceText",
        "presentationId": "={{ $json.id }}",
        "textUi": {
          "textValues": [
            {
              "pageObjectIds": [
                "p"
              ],
              "text": "{{NOMBRE_TALLER}}",
              "replaceText": "={{ $('Leer Lista Certificados').item.json.Actividad }}"
            },
            {
              "pageObjectIds": [
                "p"
              ],
              "text": "{{NOMBRE_COMPLETO}}",
              "replaceText": "={{ $('Leer Lista Certificados').item.json['Nombre Estudiante'] }}"
            },
            {
              "pageObjectIds": [
                "p"
              ],
              "text": "{{FECHA_TEXTO}}",
              "replaceText": "={{ $('Leer Lista Certificados').item.json['Fecha Actividad'] }}"
            },
            {
              "pageObjectIds": [
                "p"
              ],
              "text": "{{NOMBRE_INSTRUCTOR}}",
              "replaceText": "={{ $('Leer Lista Certificados').item.json['Nombre Instructor'] }}"
            },
            {
              "pageObjectIds": [
                "p"
              ],
              "text": "{{CARGO_INSTRUCTOR}}",
              "replaceText": "={{ $('Leer Lista Certificados').item.json['Cargo Instructor'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "4b74549c-0412-4e2a-973e-2028fb8680c4",
      "name": "Reemplazar Datos en Plantilla",
      "type": "n8n-nodes-base.googleSlides",
      "typeVersion": 1,
      "position": [
        -48,
        304
      ],
      "credentials": {
        "googleSlidesOAuth2Api": {
          "id": "GOOGLE_SLIDES_CREDENTIALS_ID",
          "name": "Google Slides OAuth2"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteFile",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Duplicar Plantilla de Certificado').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1136,
        272
      ],
      "id": "ec406801-22b9-4630-af08-f834066b4420",
      "name": "Eliminar Archivo Temporal",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GOOGLE_DRIVE_CREDENTIALS_ID",
          "name": "Google Drive OAuth2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Leer Lista Certificados').item.json.Email }}",
        "subject": "=Certificado de Asistencia: {{ $('Leer Lista Certificados').item.json.Actividad }}",
        "message": "=<div style=\"font-family: Arial, sans-serif; color: #333;\">\n    <p>Hola <strong>{{ $('Leer Lista Certificados').item.json['Nombre Estudiante'] }}</strong>,</p>\n\n    <p>Esperamos que hayas disfrutado de la actividad.</p>\n\n    <p>Te escribimos para enviarte el certificado oficial de asistencia al evento <strong>{{ $('Leer Lista Certificados').item.json.Actividad }}</strong> realizado el día {{ $('Leer Lista Certificados').item.json['Fecha Actividad'] }}.</p>\n\n    <p>Encontrarás el documento adjunto a este correo en formato PDF.</p>\n\n    <br>\n    <p>Atentamente,</p>\n    <p><strong>El Equipo</strong><br>\n    <em>Área Académica</em></p>\n    \n    <hr style=\"border: 0; border-top: 1px solid #eee;\">\n    <small style=\"color: #888;\">Por favor no respondas a este correo, es un envío automático.</small>\n</div>",
        "options": {
          "appendAttribution": false,
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        800,
        48
      ],
      "id": "0c8ee964-6230-481e-b59f-62f3e9e9fc04",
      "name": "Enviar Certificado por Email",
      "credentials": {
        "gmailOAuth2": {
          "id": "GMAIL_CREDENTIALS_ID",
          "name": "Gmail OAuth2"
        }
      }
    },
    {
      "parameters": {
        "name": "=Certificado {{ $('Leer Lista Certificados').item.json['Nombre Estudiante'] }} - {{ $('Leer Lista Certificados').item.json['Fecha Actividad'] }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "YOUR_DRIVE_FOLDER_ID",
          "mode": "list",
          "cachedResultName": "Certificados Listos"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        800,
        272
      ],
      "id": "150807fa-1de6-44aa-8d7d-d7f8f9e72254",
      "name": "Guardar en Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GOOGLE_DRIVE_CREDENTIALS_ID",
          "name": "Google Drive OAuth2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -528,
        464
      ],
      "id": "a1a25f51-e9af-45ea-823b-f4fcd99a3b08",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        768,
        464
      ],
      "id": "da1b14b7-3d80-4d49-9069-0705771f8196",
      "name": "Merge"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generar-certificados",
        "authentication": "headerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -368,
        48
      ],
      "id": "7f2abd80-29d7-4577-a17c-c17333aadfb6",
      "name": "Webhook",
      "credentials": {
        "httpHeaderAuth": {
          "id": "WEBHOOK_HEADER_AUTH_ID",
          "name": "Header Auth"
        }
      }
    },
    {
      "parameters": {
        "amount": 5
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1136,
        464
      ],
      "id": "763b5e6b-81ea-4063-9eb8-385e1bb06adf",
      "name": "Esperar 5 Segundos"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "Lista Certificados"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja Principal"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Asistió?",
              "lookupValue": "SI"
            },
            {
              "lookupColumn": "Enviado",
              "lookupValue": "NO"
            }
          ]
        },
        "options": {}
      },
      "id": "cd38b385-21c0-4ec6-b210-1989f882be81",
      "name": "Leer Lista Certificados",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -48,
        48
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIALS_ID",
          "name": "Google Sheets OAuth2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Exportar PDF": {
      "main": [
        [
          {
            "node": "Enviar Certificado por Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Guardar en Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar como Enviado": {
      "main": [
        [
          {
            "node": "Esperar 5 Segundos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Duplicar Plantilla de Certificado": {
      "main": [
        [
          {
            "node": "Reemplazar Datos en Plantilla",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reemplazar Datos en Plantilla": {
      "main": [
        [
          {
            "node": "Exportar PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Eliminar Archivo Temporal": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar en Drive": {
      "main": [
        [
          {
            "node": "Eliminar Archivo Temporal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Duplicar Plantilla de Certificado",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Marcar como Enviado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Leer Lista Certificados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Esperar 5 Segundos": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Lista Certificados": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
